.auth-form{
    display: flex;
    flex-direction: column;
    max-width:800px;
    margin: auto;
    gap: 8px;
}
.auth-form h2{
    margin: 0;
}
.auth-form input{
    padding: 16px;
}
.auth-form button{
    background: none;
    border: 2px solid rgb(95, 95, 252);
    color: rgb(95, 95, 252);
    font-size: 22px;
    font-weight: bold;
    padding: 16px;
}
.auth-form p span{
    color: rgb(95, 95, 252);
    font-weight: bold;
}
.auth-form button:hover, .auth-form p span:hover{
    border-color:rgb(94, 119, 241);
    color: rgb(94, 119, 241);
    cursor: pointer;
}
.auth-form button:hover{
    -webkit-box-shadow: 0px 0px 27px 0px rgba(95,95,252,0.5); 
box-shadow: 0px 0px 27px 0px rgba(95,95,252,1);
}
.auth-form p span:hover{
    text-shadow: 0px 0px 12px rgba(95, 252, 239, 0.5); 
}